.overlay {
  padding-left: 64px;
  padding-bottom: 0px;

  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(0, 183, 255, 0.25), rgba(158, 0, 198, 0.4)),
    url('../../../public/border background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  min-height: 100vh;
}



@media screen and (max-width: 768px) {
  .overlay {
    padding-left: 0px;
    padding-bottom: 71px;

    background-size: 200% 100%;
    background-position: center;
  }
}