@if ( loading ) {
<app-alert [message]="loadingMessage"></app-alert>
}

<div class="container">
  <div class="row mx-2 flex-column gap-4 main-page align-items-center justify-content-center">
    <div class="col-lg-5 col-md-6 col-12 partition-shadow rounded-4 p-4 exchange-card">
      <h2 class="text-center d-flex justify-content-between align-items-center">
        <div class=""><i class="bi bi-currency-exchange"></i>Balance</div>
        {{ points }}
      </h2>
      <hr />
      <h3 class="text-center">
        <span style="font-weight: 300">Create</span> voucher
      </h3>

      <div class="row pb-3">
        <div class="col-12">
          <div class="d-flex align-items-center gap-3">
            <div class="w-100">
              <label for="form-label">Points</label>
              <input type="number"
              step="1" 
              min="0"
              pattern="[0-9]*" 
              class="form-control" 
              name="from" 
              placeholder="Enter Value"
              [(ngModel)]="from" 
              (input)="fromTyping()" />
            </div>

            <i class="bi bi-arrow-left-right mt-4"></i>

            <div class="w-100">
              <label for="form-label">EGP</label>
              <input type="number" 
              step="1" 
              min="0"
              pattern="[0-9]*" 
              class="form-control" 
              name="to" 
              placeholder="Enter Value"
              [(ngModel)]="to" 
              (input)="toTyping()" />
            </div>
          </div>
          <p>{{ errorMessage }}</p>
        </div>
      </div>
      <div class="row mb-3 pt-2">
        <div class="col-12">
          <h5 class="text-center">
            <span style="font-weight: 300">Exchange</span> rate
          </h5>
          <table class="table">
            <tbody>
              <tr>
                <td>{{10 / exchangeRate}} points</td>
                <td class="icon-cell"><i class="bi bi-arrows"></i></td>
                <td>{{minimumExchangeAmount}} L.E</td>
              </tr>
              <tr>
                <td>{{20 / exchangeRate}} points</td>
                <td class="icon-cell"><i class="bi bi-arrows"></i></td>
                <td>{{ minimumExchangeAmount * 2}} L.E</td>
              </tr>
              <tr>
                <td>{{40 / exchangeRate}} points</td>
                <td class="icon-cell"><i class="bi bi-arrows"></i></td>
                <td>{{ minimumExchangeAmount * 4}} L.E</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center mb-3" style="font-size: 0.9rem">
        <span style="color: red">Warning :</span> Vouchers expire in
        {{ lifeTime }} minutes <br />
        after creating the voucher
      </div>
      <button class="btn btn-primary w-100" (click)="onSubmit()" [disabled]="!valid">
        Submit
      </button>
    </div>
  </div>
</div>